@media(max-width: 1160px) {
    body {
        height: 100vh;
        background: url(../images/bg-mobile.svg) no-repeat #674baf;
        background-size: cover;
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    main .img {
        max-width: 100%;
        padding: 0;
        margin: 20px 0;
    }

    main .info {
        margin: 0;
    }

    main .info .btn {
        align-self: center;
        margin-top: 10px;
        padding: 15px 100px;
    }

    footer .redes {
        justify-content: center;
        padding: 35px 0px 10px 0px;
        margin: 0;
    }
}

@media(max-width: 940px){
    body {
        background: url(../images/bg-mobile.svg) no-repeat #674baf;
        background-size: contain;
    }
}

@media(max-width: 750px) {
    header .logo {
        width: 50%;
        padding: 40px 0 0 40px;
    }

    main .img img {
        width: 85%;
    }

    main .info {
        width: 100%;
        padding: 40px;
    }

    main .info .titulo {
        font-size: 25px;
    }

    main .info .descricao {
        font-size: 19px;
        font-weight: 300;
    }
}

@media(min-width: 1800px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}